*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --dark: #161624;
  --light: #fffcf1;
  --lighter: #767688;
}

body{
  font-family: cursive;
}

.container{
  max-width: 800px;
  margin: auto;
  padding: 3rem 1rem;
}

.testamony .comments img{
  width: 80px;
  border-radius: 50%;
}

.testamony .comments{
  display: flex;
  gap: 2rem;
}

.info{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.d2 .info{
  padding: 1rem 1.6rem;
}

.d1 .info{
  padding: 1rem 0;
}

.text{
  padding: 1.6rem;
  /* font-weight: 500; */
}

.text span{
  display: block;
  padding-top: 2rem;
}

.d1 .text{
  background-color: var(--dark);
  color: var(--light);
  position: relative;
}

.d2{
  border: 2px solid var(--dark);
}

.d1 .text, .d2, .reviews img, .review, .carousel{
  border-radius: 20px;
}

.comments .comment{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sign{
  position: absolute;
  bottom: -18px;
  color: var(--dark);
  font-size: 25px;
}

.user .name{
  margin-bottom: 6px;
  font-size: 1.2rem;
  color: var(--dark);
}

.user .occupation{
  color: var(--lighter);
  font-size: 14px;
}

.reviews{
  padding: 2rem 0;
  display: grid;
  gap: 1rem;
  grid-template-columns:  1fr 2fr;
}

.reviews img{
  width: 100%;
}

.reviews .job{
  margin: 1rem 0;
  color: var(--lighter);
}

.review{
  padding: 2rem;
  background: var(--dark);
  color: var(--light);
}

.review .name{
  font-size: 1.4rem;
}

.rating{
  font-size: 1.2rem;
  color: rgb(255, 212, 39);
}

/* carousel */
.carousel{
  border: 2px solid var(--dark);
  padding: 3rem;
}

.carousel img{
  width: 40px;
  border-radius: 50%;
  opacity: .5;
}

.carousel img.active{
  opacity: 1;
  width: 60px;
}

.carousel .box{
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  padding: 2rem;
}

.carousel .box .arrow{
  font-size: 28px;
  cursor: pointer;
}

.carousel .box .arrow:hover{
  opacity: .6;
}

.carousel .quote{
  max-width: 400px;
  text-align: center;
  margin: auto;
  /* padding-bottom: 2rem; */
}

.carousel .name{
  text-align: center;
}

@media (max-width:730px) {
  .testamony .comments{
    flex-direction: column;
  }
}